NEXT_PUBLIC_SITE_URL=https://workplacemanagementsolutions.com
GHL_PRIVATE_INTEGRATION_TOKEN=
GHL_LOCATION_ID=
GHL_PIPELINE_ID=
GHL_PIPELINE_STAGE_ID=
GHL_WORKFLOW_ID=
GHL_CALENDAR_URL=
GHL_CUSTOM_FIELD_MAP={}
